@model Samman.Models.DocFile

<div class="pdf-buttons">
    <a href="@Url.Action("Pdf", "Services", new { id = Model.Id })" target="_blank" class="pdf-button">Открыть PDF</a>
    <a href="@Url.Action("Docx", "Services", new { id = Model.Id })" target="_blank" class="pdf-button">Скачать DOC</a>
    <a href="@Url.Action("Png", "Services", new { id = Model.Id })" target="_blank" class="pdf-button">Открыть PNG</a>
    <a href="@Url.Action("Jpg", "Services", new { id = Model.Id })" target="_blank" class="pdf-button">Открыть JPG</a>
</div>