@model Samman.Models.DocFile

<div class="pdf-buttons">
    <a href="@Url.Action("ArchSt", "Services", new { id = Model.Id })" target="_blank" class="pdf-button">Изменить данные</a>
    <a href="@Url.Action("ArchRemove", "Services", new { id = Model.Id })" target="_blank" class="pdf-button">Удалить все данные</a>
</div>