@{
    ViewData["Title"] = "Главная страница";
}

<div id="content-window">
    <h1 class="text-center">Добро пожаловать!</h1>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="overflow-hidden d-flex justify-content-center align-items-center mt-4" style="width: 200px; height: 200px; border-radius: 20px;">
            <img src="https://sun9-51.userapi.com/impg/xgG1lxBoetNX4D6dxlMy_msAdiA1GJpEjBaTew/-56y5s4L-SI.jpg?size=1024x1024&quality=95&sign=ba842212177de33c8ceecb8c4550710a&type=album" alt="Image" style="width: 100%; height: auto;">
        </div>
        <p class="mt-4 text-center">
            Для доступа к сервисам необходимо зарегистрироватся<br>Извините за неудобство
        </p>

        <a class="btn  mt-2" style="font-family: Helvetica; background-color: #DC143C; color: #ffd700;" asp-area="" asp-controller="Home" asp-action="Login">Зарегистрироватся</a>
    </div>
</div>