@{
    ViewData["Title"] = "Ошибка";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ошибка</title>
</head>
<body>
    <div class="container">
        <h1>Упс Ошбика</h1>
    </div>
</body>
</html>


