@{
    ViewData["Title"] = "Главная страница";
}

@{
    List<string> words = new List<string>
    {
        "Заголовок1 Текст1 Автор1",
        "Заголовок2 Текст2 Автор2",
        "Заголовок3 Текст3 Автор3"
    };
}

<div id="bottom-center">
    <p class="mt-4">
        Добро пожаловать в наш новостной раздел! Здесь вы найдете самые свежие и актуальные новости на сегодняшний день. 
        Наша команда живет и дышит новостями, чтобы предоставить вам информацию о событиях, которые происходят в мире.
        Мы уделяем особое внимание разнообразным темам, от политики и экономики до культуры и спорта, чтобы удовлетворить интересы каждого читателя. 
        Следите за обновлениями у нас, чтобы быть в курсе всех событий!
    </p>
    <div class="d-flex flex-column align-items-center justify-content-center">

        <div class="image-container">
            <img src="/content/img/nihaoNews.jpg" alt="Image" style="width: 100%; height: auto;">
        </div>
    </div>
</div>

