@{
    ViewData["Title"] = "Сервисы";
}


<div id="bottom-center">
    
    <div class="d-flex flex-column align-items-center justify-content-center">

        <div class="service-button">
            <a href="/Sevices/Archiv" class="service-button">
                <img src="/content/img/archiv.png" class="mr-2" style="width: 230px; height: 150px; border-radius: 5%;">
            </a>
        </div>

        <div class="service-button">
            <a href="/Sevices/Archiv" class="service-button">
                <img src="/content/img/gopota.png" class="mr-2" style="width: 230px; height: 150px; border-radius: 5%;">
            </a>
        </div>

    </div>
</div>