:root {
    /* Основные цвета */
    --authBG: #DC143C;
    --authCL: #ffffff;
}

body {
    background-image: url('https://klike.net/uploads/posts/2022-12/1670481484_2-6.jpg');
    background-size: cover;
    font-family: Helvetica;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: var(--authBG);
    color: var(--authCL);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    word-break: break-all;
}

h1 {
    text-align: center;
    color: var(--authCL);
}


@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flash-button:hover {
    animation: flash 0.5s;
}


.form-group {
    margin-bottom: 20px;
}



.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.btn-primary {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--authCL);
    color: var(--authBG);
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.last {
    color: var(--authCL);
}

