/* Определение CSS переменных */
:root {
    /*Определение для центральных нижних меню*/
    --margin-top-bottMenu: -0.1%;
    --width-col-6: 45%;
    --width-col-7: 52%;
    --margin-right-bottCenter: 5%;
    --margin-right-bottLeft: 5%;
    --width-bottRight: 25%;
    --height-bottRight: 5%;
    --padding-custom: 15px;
    --margin-top-bottom-ul: 0px;
    --padding-bottCenter: 15px;
    --margin-left-topLeft: -30%;
    --height-top-menu: 50px;
    --width-img-logo: 30px;
}
    /* Основные стили для светлой темы */
    .light-theme {
    --background-color: #f8f9fa;
    --text-color: #000;
    --button-background: #DC143C;
    --button-text: black;
    --button-text-hover: white;
    --button-text-submenu: white;
    --menu-background: white;
    --menu-hover-background: #DC143C;
    --content-background: white;
    --content-border: #ccc;
    --content-burder: #333;
}

/* Темные стили */
.dark-theme {
    --background-color: #1d1e1f;
    --text-color: white;
    --button-background: #444546;
    --button-text: white;
    --button-text-hover: white;
    --button-text-submenu: #444546;
    --link-color: #82d5e6;
    --menu-background: #2a2a2b;
    --menu-hover-background: #444546;
    --content-background: #363738;
    --content-border: #545454;
    --content-burder: #363738;
}

/* Общие стили для всей страницы */
html {
    font-size: 100%;
    transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
}

img {
    max-width: 100%;
    transition: max-width 0.3s; /* Добавлен переход для максимальной ширины изображений */
}




/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (max-width: 1400px) {
    :root {
        /*Определение для центральных нижних меню*/
        --width-col-6: 50%;
        --width-col-7: 60%;
    }

    html {
        font-size: 85%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }
}
@media (max-width: 1399px) {
    :root {
        /*Определение для центральных нижних меню*/
        --width-col-6: 50%;
        --width-col-7: 56%;
    }
    html {
        font-size: 85%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }
}
/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (max-width: 1200px) {
    :root {
        --width-col-6: 58%;
        --width-col-7: 59%;
    }
}
/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (max-width: 1001px) {
    html {
        font-size: 85%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }
    :root {
        --width-col-6: 50%;
        --width-col-7: 37%;
    }
}
@media (max-width: 1000px) {
    html {
        font-size: 85%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    :root {
        --width-col-6: 50%;
        --width-col-7: 51%;
    }
}
/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (max-width: 996px) {
    html {
        font-size: 85%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    :root {
        --width-col-6: 50%;
        --width-col-7: 52%;
    }
}
/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (max-width: 994px) {
    html {
        font-size: 85%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    :root {
        --width-col-6: 50%;
        --width-col-7: 45%;
    }
}
@media (max-width: 993px) {
    html {
        font-size: 80%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    :root {
        --width-col-6: 50%;
        --width-col-7: 39%;
    }
}
/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (max-width: 770px) {
    html {
        font-size: 68%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    :root {
        --width-col-6: 50%;
        --width-col-7: 33%;
        --width-img-logo: 20px;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 68%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    :root {
        --width-col-6: 50%;
        --width-col-7: 44%;
        --width-img-logo: 20px;
    }
}
@media (max-width: 767.9px) {
    html {
        font-size: 68%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    :root {
        --width-col-6: 50%;
        --width-col-7: 30%;
        --width-img-logo: 20px;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 55%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    :root {
        --width-col-6: 50%;
        --width-col-7: 40%;
        --width-img-logo: 20px;
    }
}

/* Медиа-запрос для увеличения размера шрифта на больших экранах */
@media (max-width: 200px) {
    html {
        font-size: 6%;
        transition: font-size 0.3s; /* Добавлен переход для размера шрифта */
    }

    img {
        max-width: 100%;
        transition: max-width 0.3s; /* Добавлен переход для максимальной ширины изображений */
    }

    :root {
        /*Определение для центральных нижних меню*/
        --margin-top-bottMenu: -10%;
        --width-col-6: 20%;
    }
}


/* Стили для кнопки с идентификатором "IndexButton" */
#IndexButton {
    background-color: var(--button-background);
    color: var(--button-text);
}

    #IndexButton:hover {
        background-color: var(--text-color);
        color: var(--button-text);
        transition: background-color 0.3s ease-in-out;
    }


.col-md-6 {
    width: var(--width-col-6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-7 {
    width: var(--width-col-7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > .container {
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
}





/* Общие стили для фокусированных элементов */
.btn:focus,
.btn:active:focus,
.btn-link.naf-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem var(--menu-background), 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
    padding-top: 54px;
}

/* Общие стили для всех элементов */
* {
    box-sizing: border-box;
}

/* Стили для фиксированного заголовка */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Стили для верхнего меню */
#top-menu {
    background-color: var(--menu-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--content-border);
    white-space: nowrap;
    height: var(--height-top-menu);
}

/* Стили для списка в левом меню */
#top-left ul,
#top-right ul {
    list-style-type: none;
    color: var(--button-text);
}

/* Стили для элементов списка в левом меню */
#top-left li,
#top-right li {
    margin-bottom: 0px;
    margin-top: 5px;
}

/* Стили для ссылок в левом меню */
#top-right a,
#top-left a {
    display: block;
    background-color: transparent;
    color: var(--button-text);
    text-align: left;
    padding: 0.5rem 1rem;
    margin-top: 2px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

    #top-right a:hover {
        background-color: var(--button-background);
        color: var(--button-text-hover);
        transition: background-color 0.3s ease-in-out;
    }

/* Стили для логотипа */
#logo {
    display: flex;
    align-items: center;
    font-size: 160%;
    font-weight: bold;

}

/* Стили для изображения в левой части верхнего меню */
#top-left img {
    border-radius: 25%;
    margin-right: -5%;
    width: var(--width-img-logo);
}

/* Стили для bottom-menu */
#bottom-menu {
    display: flex;
    margin-top: var(--margin-top-bottMenu);
}

@media (min-width: 100px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

#bottom-right {
    background-color: var(--menu-background);
    border: 1px solid var(--content-border);
    border-radius: 10px;
    padding: var(--padding-custom);
    width: var(--width-bottRight);
    height: var(--height-bottRight);
}
#bottom-left {
    margin-right: var(--margin-right-bottLeft);
}


/* Стили для списка в левом и правом меню */
#bottom-left ul,
#bottom-right ul {
    color: var(--button-text);
}

#bottom-right ul {
    color: var(--button-text);
    margin-top: var(--margin-top-bottom-ul);
}

/* Стили для элементов списка в левом и правом меню */
#bottom-left li,
#bottom-right li {
    margin-bottom: 2px;
}

/* Стили для ссылок в левом и правом меню */
#bottom-right a,
#bottom-left a {
    display: block;
    background-color: transparent;
    color: var(--button-text);
    text-align: left;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

    #bottom-right a:hover,
    #bottom-left a:hover {
        background-color: var(--button-background);
        color: var(--button-text-hover);
        transition: background-color 0.3s ease-in-out;
    }

/* Стили для центрального меню */
#bottom-center {
    background-color: var(--menu-background);
    display: flex;
    border: 1px solid var(--content-border);
    border-radius: 10px;
    padding: var(--padding-bottCenter);
    margin-right: var(--margin-right-bottCenter);
    color: var(--button-text);
    text-align: center;
    margin-bottom: 10px;
    flex-direction: column;
}

    #bottom-center img {
        object-fit: contain;
        border: 2px solid var(--content-border);
        margin-bottom: 10px;
        border-radius: 10px;
        position: relative;
    }

    #bottom-center p {
        font-family: Helvetica;
        margin-top: 10px;
        text-align: left;
        max-width: 100%;
    }

    #bottom-center .image-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        #bottom-center .image-container img {
            border-radius: 10px;
            position: relative;
            flex: 1;
            margin: 2px;
        }

            #bottom-center .image-container img:only-child {
                flex: 2;
            }

.divider {
    border-bottom: 1px solid var(--content-border);
    padding-bottom: 10px; /* Измените значение на ваше усмотрение */
}

/* Стили для переключателя "toggle" */
.toggle {
    display: none;
}

/* Стили для подменю */
.submenu {
    display: none;
    position: absolute;
    background-color: var(--button-text-submenu);
    border: 1px solid var(--content-border);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}

/* Показываем подменю, когда чекбокс "Настройки" активен */
#settingsToggle:checked + .submenu {
    display: block;
}

/* Стилизация подменю */
.submenu li {
    list-style-type: none;
}

/* Добавьте другие стили, как вам нужно */

/* Показываем подменю при наведении на элемент "nav-item" */
.nav-item:hover .submenu {
    display: block;
}

/* Стили для элементов в подменю */
.submenu li {
    padding: 10px;
    border-bottom: 1px solid var(--content-border);
    list-style: none;
}

    /* Стили для последнего элемента в подменю */
    .submenu li:last-child {
        border-bottom: none;
    }

/* Стили для ссылок в подменю */
.submenu a {
    color: var(--content-burder);
    text-decoration: none;
}

/* Показываем подменю при активации переключателя "settingsToggle" */
#settingsToggle:checked + .submenu {
    display: block;
}

#themeButton {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    border-radius: 5px;
    text-decoration: none;
}

    .nav-link:hover {
        color: var(--button-text-hover);
        text-decoration: none;
        border-radius: 5px;
        background-color: var(--button-background);
    }



.service-button a {
    display: block;
    background-color: transparent;
    color: var(--text-color);
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

    .service-button a:hover {
        background-color: var(--button-background);
        color: var(--button-text-hover);
        transition: background-color 0.3s ease-in-out;
    }

#content-window {
    display: flex;
    border-radius: 10px;
    padding: 15px;
    color: var(--button-text);
    min-height: 100px;
    min-width: 74%;
    max-width: 75%;
    text-align: center;
    margin-bottom: 10px;
    flex-direction: column;
}

#content-service {
    display: flex;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid var(--content-border);
    color: var(--button-text);
    min-height: 100px;
    min-width: 74%;
    max-width: 75%;
    text-align: center;
    margin-bottom: 10px;
    flex-direction: column;
}

    #content-service img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin-bottom: 10px;
        border-radius: 10px;
        position: relative;
    }

    #content-service p {
        font-family: Helvetica;
        margin-top: 10px;
        text-align: left;
        max-width: 100%;
    }

    #content-service .image-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        #content-service .image-container img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
            position: relative;
            flex: 1;
            margin: 2px;
        }

            #content-service .image-container img:only-child {
                flex: 2;
                max-width: 100%;
            }

.pdf-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    width: 150px;
    height: 70px;
    text-align: center;
    transition: background-color 0.3s ease;
}

    .pdf-button:hover {
        background-color: #0056b3;
    }
